player-connection-mode=Listen
player-connection-guid=1939391165
player-connection-debug=0
player-connection-project-name=AT02_CreepyPasta
player-connection-ip=192.168.23.136
player-connection-ip=192.168.243.1
player-connection-ip=192.168.233.1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e6376bef8f5f4f9f9d26dda58bfc520b
